.DS_Store

# Swift (legacy)
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
llc
*.test
*.out
/vendor/
